#error-page {
  text-align: center;
}

#container {
  display: flex;
  height: 100%;
  width: 100%;
}

#sidebar {
	max-width: 22rem;
  background-color: #f7f7f7;
  border-right: solid 1px #e3e3e3;
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  min-height: 800px;
}

#detail {
  flex: 1;
  padding: 2rem 4rem;
  width: 100%;
}

.titles {
	text-align: center;
}

.form-buttons {
	display: flex;
	margin-top: 5px;
}